{
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "~": "./src",
          "@common": "./src/common",
          "@icons": "./src/common/components/Icons"
        }
      }
    ]
  ]
}
