@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --default-color: #212b36;
  --primary-color: #00a76f;
  --secondary-color: #8e33ff;
  --fade-color: #637381;
  --fader-color: #919eab;
  --info-color: #00b8d9;
  --success-color: #22c55e;
  --warning-color: #ffab00;
  --error-color: #ff5630;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Public Sans', sans-serif;
  font-optical-sizing: auto;
  color: var(--default-color);
  line-height: 1.5;
}

input[type='number'] {
  text-align: right;
  -moz-appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.custom-toast {
  --toastify-icon-color-info: var(--info-color);
  --toastify-icon-color-success: var(--success-color);
  --toastify-icon-color-warning: var(--warning-color);
  --toastify-icon-color-error: var(--error-color);

  --toastify-color-progress-info: var(--info-color);
  --toastify-color-progress-success: var(--success-color);
  --toastify-color-progress-warning: var(--warning-color);
  --toastify-color-progress-error: var(--error-color);
}

.background-3::before {
  width: 100%;
  height: 100%;
  z-index: -1;
  content: '';
  opacity: 0.24;
  top: 0;
  left: 0;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('../public/images/backgrounds/overlay_4.jpg');
}

// Swiper
.swiper-pagination-bullet {
  transition: 0.35s;

  &.swiper-pagination-bullet-active {
    width: 20px;
  }
}

.product-thumbs-slide {
  max-width: 384px;

  .swiper-slide:not(.swiper-slide-thumb-active) {
    opacity: 0.5;
  }

  .swiper-slide-thumb-active {
    border: 2.5px solid var(--primary-color);
    border-radius: 16px;
  }

  &::before,
  &::after {
    content: '';
    background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
    position: absolute;
    width: 42.6667px;
    height: 100%;
    top: 0px;
    z-index: 9;
  }

  &::after {
    right: 0px;
    transform: scaleX(-1);
  }
}

.nav-link {
  position: relative;
  padding-block: 12px;
  font-size: 0.875rem;
  font-weight: 600;
  transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

  &:hover,
  &.active {
    color: var(--primary-color);

    &::before {
      content: '';
      position: absolute;
      width: 6px;
      height: 6px;
      top: 50%;
      left: -12px;
      transform: translateY(-50%);
      opacity: 0.64;
      border-radius: 50%;
      background-color: currentcolor;
    }
  }
}

.lazy-load-image-background {
  background-image: url('../public/images/backgrounds/placeholder.svg');
  background-size: cover;

  &.lazy-load-image-loaded.blur {
    filter: blur(0);
    transition: filter 0.3s;
  }
}

.background-hero {
  background-image: url('../public/images/backgrounds/overlay_1.svg'), url('../public/images/backgrounds/hero.jpg');
  background-size: cover;
  background-position: center center;
}

.background-about {
  background: linear-gradient(rgba(22, 28, 36, 0.9), rgba(22, 28, 36, 0.9)),
    url('../public/images/about/testimonials.jpg');
  background-position: center center;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.background-contact {
  background: linear-gradient(rgba(22, 28, 36, 0.8), rgba(22, 28, 36, 0.8)), url(../public/images/contact/hero.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
